* {
    overflow-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}
a {
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    padding: 2%;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 1em;
}
a:hover {
    background-color: rgba(0, 0, 0, 0.747);
    color: aqua;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    border: 4px solid rgb(0, 225, 255);
    transition: 200ms;
}
body {
    background-image: linear-gradient(to right, #BF3F3F, #7F3FBF, #3FBFBF);
    max-width: 100vw;
    max-height:  100vh;
    /* margin: auto; */
    color: white;
    text-shadow: 1px 1px black;
    /* background-image: url(/images/evert-van-duijn-NSRlbb8JoF8-unsplash.jpg); */
}
header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.747);
    color: white;
    border-bottom: 2px solid rgb(0, 255, 170);
    text-shadow: 2px 2px black;
    padding: 1%;
    visibility: hidden;
}
main {
    margin-left: 2vw;
}
main h2 {
    font-size: 5em;
    margin-top: 25vh;
}
main h2::after {
    
}